<p>child1 works!</p>
<div>
  My parent's data a: {{a}}
   <div><input type="number" [(ngModel)]="a"></div>
</div>
<div>My siblings's data b: {{b}}</div>
<div>My own data cars: {{cars}}</div>

<button (click)="sendDataToParent()">Send data to Parent</button>
<button (click)="sayHii()" class="mx-2">Hiii</button>
<button (click)="refresh()" class="mx-2">Refresh</button>


<div>{{employee.name}} Has Below {{employee.skills.length}} Skills: </div>
@for (skill of employee.skills; track $index) {
  <b>{{skill}} , &nbsp;</b>
}
