<h3 class="text-center">Product List</h3>

<div class="container">
  <div class="row">
    <div class="col-sm-3 form-control">
      <select (change)="filterProducts($event)">
        @for (categoryItem of categorySet; track $index) {
          <option>{{categoryItem}}</option>
        }
      </select>
    </div>
  </div>
  <div class="row mt-2">
    @for (product of productArr; track $index) {
    <div class="col-sm-3 card">
      <img src="{{product.image}}" class="card-img-top" alt="..." style="height: 150px;">
      <div class="card-body text-center">
        <h5 class="card-title">{{product.category}}</h5>
        <p class="card-text text-truncate">{{product.title}}</p>
        <p class="card-text text-truncate">{{product.description}}</p>
        <p class="card-text">{{product.price}}</p>
        <p class="card-text">{{product.rating.rate}}</p>
        <a href="#" class="btn btn-primary">Details</a>
      </div>
    </div>
    }
  </div>
</div>
